@import './../../scss/global/variables.scss';

.messagesWrapper {
    display: grid;
    grid-template-columns: 2fr 8fr;
    max-width: 1000px
}

.dialogsList,
.messagesList {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    border: 2px solid $grey-light;
    margin: 20px 20px 0;
    border-radius: 4px;
}

.messagesList {
    padding: 20px;
    max-width: 800px;
}

.message {
    width: max-content;
    background-color: $grey-light;
    padding: 10px 25px;
    color: $grey-dark;
    font-family: $lato-r;
    margin-bottom: 20px;
    border-radius: 3px;
    cursor: pointer;
}