@import './../../../scss/global/variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto 0;
}

.textarea {
    background-color: $white;
    border: 2px solid $grey;
    width: 100%;
    height: 120px;
    font-family: $lato-s;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $lato-s;
    font-size: 14px;
    padding: 15px 20px;
    line-height: 1;
    min-width: 150px;
    border: 2px solid $cyan;
    color: $cyan;
    cursor: pointer;
    background-color: transparent;
    margin-top: 10px;
    transition: all 0.5s ease;

    &:hover,
    &:focus {
        background-color: $cyan;
        color: $white;
    }
}