@import './../../scss/global/variables.scss';

.content {
    display: flex;
    flex-direction: column;
}

.hero__img {
    width: 100%;
    height: 100px;
    background-size: contain;
    background-position: 50% 50%;
}

.user__info {
    display: flex;
}

.user__avatar {
    width: 20%;
    height: auto;
}

.avatar {
    width: 100%;
    height: auto;
}

.about {
    background-color: red;
    width: 80%;
}