@import './../../scss/global/variables.scss';

* {
    box-sizing: border-box;
}

.userPage {
    display: flex;
    max-width: 1000px;
    padding: 20px;
    flex-direction: column;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.paginationButton {
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $black;
    cursor: pointer;
    display: flex;
    font-family: $mon-r;
    font-size: 12px;
    height: 30px;
    justify-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    white-space: nowrap;
    width: 30px;
    padding: 0;

    &.active {
        font-weight: bold;
        background-color: $cyan;
        color: $white;
    }
}

.userWrapper {
    border-radius: 5px;
    border: 2px solid $cyan;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.userImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;

    img {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .friendButton {
        border: none;
        font-size: 12px;
        line-height: 1;
        font-family: $mon-r;
        padding: 7px 5px;
        margin-bottom: 10px;
        cursor: pointer;
        min-width: 90px;
        background-color: $cyan;
        color: $white;
        text-transform: uppercase;
        height: 30px;

        &:focus,
        &:hover {
            background-color: transparent;
            border: 1px solid $cyan;
            transition: all 0.25s ease-in;
            color: $cyan;
            padding: 6px 5px;
            border-radius: 5px;
        }
    }
}