.preloader {
    width: 200px;
    height: 140px;
    background-image: url('./../../../assets/img/spinner.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    margin: auto;
}