@import './../../scss/global/variables.scss';

.navbar {
    background-color: $grey-dark;
    grid-area: nav;
}

.list {
    padding: 0;
    list-style: none;
}

.button {
    background-color: $grey-dark;
    border: none;
    box-sizing: border-box;
    color: $grey;
    cursor: pointer;
    display: block;
    font-family: $lato-l;
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:focus,
    &.active {
        background-color: $cyan;
        color: $white;
    }
}