// Colors:

$grey-dark:     #4d384b;
$grey:          #a59aa4;
$grey-light:    #b6b6b6;
$cyan:          #4c9689;

$white:         #ffffff;
$black:         #000000;


// Fonts: 

$mon-l:         'Montserrat Light', Arial, sans-serif;
$mon-r:         'Montserrat Regular', Arial, sans-serif;
$mon-b:         'Montserrat Bold', Arial, sans-serif;
$lato-l:        'Lato Light', Arial, sans-serif;
$lato-r:        'Lato Regular', Arial, sans-serif;
$lato-s:        'Lato Semibold', Arial, sans-serif;