@import './../../../scss/global/variables.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
}

.textarea {
    width: 75%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid $grey-light;
    font-family: $lato-r;
    font-size: 12px;
    line-height: 1.2;
    max-height: 53px;
    border-radius: 4px;
    resize: none;
}

.button {
    display: flex;
    border: none;
    background-color: $cyan;
    font-family: $mon-r;
    font-size: 14px;
    line-height: 1;
    padding: 12px;
    width: 20%;
    max-width: 180px;
    color: $white;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}