@import './../../../../scss/global/variables';

.post {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    align-items: center;
    padding: 5px 10px;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__user {
        color: $grey-dark;
        font-size: 14px;
        text-align: left;
        font-family: $mon-b;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    &__message {
        color: $grey;
        font-size: 14px;
        text-align-last: left;
        font-family: $lato-r;
        line-height: 1.2;
        padding: 10px 20px;
        margin: 0;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-size: cover;
        flex-shrink: 0;
    }
}